@page "/testhid"
@inherits TestHIDComponent
@inject IJSRuntime _jsRuntime

<h2 class="d-flex justify-content-center">Test HID USB Connection</h2>
<div class="d-flex justify-content-center">    
    <form>
        <label for="vendor">Vendor ID: </label>
        <input type="text" name="vendor" id="vendor">
        <br/>
        <label for="product">Product ID: </label>
        <input type="text" name="product" id="product">
    </form>
    
</div>
<div class="d-flex justify-content-center">
    <button id ="request" > Request Device</button>    
    <button id ="devices" disabled="disabled"> Get HID Devices</button>
</div>
<div class="d-flex justify-content-center">
    <p id="input">Connect device and press button. Inputs are logged to the client and server.</p>
</div>
 
  
@code
{
    /// <summary>
    /// Adds an event listerns after component is fully rendered (in hid.js)
    /// </summary>
    /// <param name="firstRender"></param>
    protected override void OnAfterRender(bool firstRender)
    {
        // Add event listeners
        _jsRuntime.InvokeVoidAsync("attachHandlers");
    }
}
